*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4e1cf;
display:flex;
justify-content:center;
padding:30px;
}

.container{
width:400px;
background:white;
padding:25px;
border-radius:30px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.voltar{
font-size:30px;
text-decoration:none;
color:#5a3314;
}

.foto{
width:220px;
display:block;
margin:auto;
animation:show 1s;
}

@keyframes show{
from{transform:scale(.5);opacity:0;}
to{transform:scale(1);opacity:1;}
}

h1{
text-align:center;
color:#5a3314;
margin:15px 0;
}

.estrelas{
text-align:center;
margin-bottom:15px;
}

.descricao{
text-align:center;
color:#666;
margin-bottom:20px;
}

h3{
margin:15px 0;
color:#5a3314;
}

.opcoes{
display:flex;
gap:10px;
}

.opcoes button{
flex:1;
padding:12px;
border:none;
border-radius:20px;
background:#d9b18d;
cursor:pointer;
}

.ativo{
background:#6b3e18;
color:white;
}

.quantidade{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
margin:20px 0;
}

.quantidade button{
width:40px;
height:40px;
border:none;
border-radius:50%;
background:#6b3e18;
color:white;
font-size:20px;
cursor:pointer;
}

#qtd{
font-size:22px;
font-weight:bold;
}

.rodape{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}

.comprar{
padding:15px 25px;
border:none;
border-radius:30px;
background:#6b3e18;
color:white;
font-size:16px;
cursor:pointer;
}

.comprar:hover{
transform:scale(1.05);
}

#figurinhas{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.figurinha{
    position: absolute;
    bottom: -100px;
    animation: subir linear forwards;
}

@keyframes subir{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(-120vh);
        opacity: 0;
    }
}